*{
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(61, 60, 60);
    height: 100vh;
    display: grid;
    place-items: center;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 2rem;
    margin: auto;
    padding: 8rem 4rem;
}

h1{
    text-align: center;
    text-underline-offset: 8px;
}

input {
    padding: 1rem;
}

button {
    background-color: rgb(140, 0, 255);
    border-radius: 10px;
    width: 12rem;
    color: white;
    align-self: center;
    cursor: pointer;
    font-size: medium;
    padding: 1rem 2rem;
    border: none;
}

button:hover{
    background-color: rgb(15, 13, 13);
}

.error{
    
    text-align: right;
    color: red;

}